h1 {
    color:white;
    font-size:40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
    
h1:hover {
    color:black;
    text-decoration: underline;
}

#menueHeadline {
    text-decoration: none;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

#menueHeadline > a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}

#menueHeadline > a:hover {
    color: darkcyan;
    font-size: 31px;
}

#menueHeadline > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#menueHeadline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h3 {
	color:black;
	font-size:30px;
    display: table-cell;
    vertical-align: middle;
}

h3:hover {
    color:darkcyan;
    text-decoration: underline;
}

h4 {
    color: black;
    font-size: 20px;
    padding-top: 10px;
}

h5 {
    color: black;
    font-size: 25px;
    padding-top: 200px;
    padding-bottom: 200px;
}

div {
    border-radius: 5px;
    display: table;
}

table {
    text-align: center;
}

p {
    display: table-cell;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

img {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

body {
	background-color: #262626;
	text-align: center;
    font-family: Joti One, cursive;
}

/* LOGIN STYLING */

#LoginDiv {
    height: 97%;
    width: 100%;
    margin: 0 auto;
}

#loginHeader {
    width: 97%;
    height: 93%;
    background-color: darkgrey;
    margin: 0 auto;
    text-align: center;
    display: 1;
    margin-bottom:10px;
}

 #userForm {
    text-align: center;
    align: center;
    color: white;
}

/* WEBSITE STYLING */

#website {
	width: 100%;
	margin: 0 auto;
	display: none;
}

#header, #center, #footerLogin {
	width: 97%;
	margin-top: 0 auto;
	margin-left: auto;
    margin-right: auto;
}

#logo {
	float:left;
	width: 29%;
	height: 100px;
	background-color: darkcyan;
}

#logotext {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

#menue {
	float:right;
	width: 70%;
	height: 100px;
	background-color: darkgrey;
}

#scoreboard {
	float:left;
	width: 29%;
	height: 600px;
	background-color: lightgrey;
	margin-top: 10px;
	margin-bottom: 10px;
}

#playground {
	float:right;
	width:70%;
	height:600px;
	background-color:darkgrey;
	margin-top:10px;
	margin-bottom:10px;
    position: relative;
}

#player1 , #player2 , #player3, #player4, #player5 {
    display: inline;
    text-align: center;
    background-color: darkcyan; 
    border-radius: none;
}

#player1 , #player2 , #player3, #player4 {
    margin-right: 20px
}

#card1 , #card2 , #card3, #card4, #card5, #card6 {
    display: inline;
    text-align: center;
    height: 200px;
    background-color: white;
    border-radius: none;
    /* display:table-cell;
    vertical-align: bottom; */
}

.textfield {
 /* textfeld designen */
}

#footerLogin {
	height:30px;
	background-color:darkcyan;
	clear:both;
}
#footer {
    height:30px;
    background-color:darkcyan;
    clear:both;
}

 #footertextLogin {
    padding-left: 20px;
    text-align: left;
}

#footertext {
    padding-left: 20px;
    text-align: left;
}

/* TESTZEUG */

#cards div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: darkcyan;
    width: 150px;
    height: 20px;
    text-align: center;
    transition: height 2s ease-in-out;
}

#cards div:hover {
    background-color: white;
    height: 100px;
}