.button {
    text-align: center;
    background: darkcyan;
    font-family: Joti One, cursive;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10 20 10 20;
}

.button:hover {
    background: black;
    color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#RoomChooserAreaCreate {
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px !important; /* Textfeld + Button wollen nicht runter? */
}

.Room {
    height: 40px;
    width: 100%;
    text-align: center;
}

#roomsCreated {
    color: black;
    text-align: left;
}

#myProfile {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
}

#gameRules {
    height: 70%;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
}

#quelleSpielregeln {
    text-align: center;
}

#onlineShop {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
}

#welcome {
    height: 70%;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
}