.button {
    text-align: center;
    background: darkcyan;
    font-family: Joti One, cursive;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10 20 10 20;
}

.button:hover {
    background: black;
    color: white;
}

#RoomChooserAreaCreate {
    height: 100%;
    width: 100%;
    text-align: center;
    bottom: 0;
}

#createRoomForm {
    text-align: center;
}

.Room {
    height: 40px;
    width: 100%;
    text-align: center;
}

#roomsCreated {
    color: black;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}