h1 {
    color:white;
    font-size:40px;
    text-align: center;
}
    
h1:hover {
    color:black;
    text-decoration: underline;
}

h2 {
	color:black;
	font-size:30px;
}

h2:hover {
    color:darkcyan;
    text-decoration: underline;
}

div {
    border-radius: 5px;
}

table {
    text-align: center;
}

a {
    color:black;
    text-decoration: none;
}

img {
    text-align: center;
}

body {
	background-color:#262626;
	text-align:center;
    font-family:courier;
    font-weight:bold;
}

#website {
	width:100%;
	margin: 0 auto;
}

#header {
	width:95%;
	margin: 0 auto;
}

#logo {
	float:left;
	width:29%;
	height:100px;
	background-color:darkcyan;
	margin-top:10px;
	margin-bottom:10px;
}

#menue {
	float:right;
	width:70%;
	height:100px;
	background-color:darkgrey;
	margin-top:10px;
	margin-bottom:10px;
}

#center {
	width:95%;
	margin: 0 auto;
}

#scoreboard {
	float:left;
	width:29%;
	height:600px;
	background-color:lightgrey;
	margin-top:10px;
	margin-bottom:10px;
}

#infobar {
	float:right;
	width:70%;
	height:600px;
	background-color:darkgrey;
	margin-top:10px;
	margin-bottom:10px;
}

#footer {
	width:95%;
    padding: 0 auto;
	margin: 0 auto;
	height:30px;
	background-color:darkcyan;
	clear:both;
}